# mainnet, testnet, staging, sandbox or staging-sandbox
NEXT_PUBLIC_LENS_NETWORK="testnet"
# Demo Address
NEXT_PUBLIC_DEMO_USER_ADDRESS=0xed74c2cdFa90CF3C824cc427a103065651e46d89
# apollo server
NEXT_PUBLIC_APOLLO_SERVER_URL=http://localhost:3001/api

# Next-Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32