# mainnet, testnet, staging, sandbox or staging-sandbox
NEXT_PUBLIC_LENS_NETWORK="testnet"
# Demo User
NEXT_PUBLIC_DEMO_USER_NAME=Spring
NEXT_PUBLIC_DEMO_USER_ADDRESS=0xdbE38D1d3631a04875d3FAd945D0dFcb2C20f91c
# apollo server
NEXT_PUBLIC_APOLLO_SERVER_URL=http://localhost:3001/api

# Next-Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32